:root {
  --primary: #F4F9F4;
  --secondary: #A7D7C5;
  --thirdary: #74B49B;
  --accent: #5C8D89 ;
}

html, body {
  font-family: sans-serif, Raleway;
  font-size: 24px;
  background-color: var(--primary);
  margin: 0;
  /* SCALE FONT SIZE WITH WINDOW WIDTH, SMALLER WIDTH = BIGGET FONT*/
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

.pageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--accent);
  color: var(--primary);
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
}

a {
  color: inherit;
  padding: 1em;
  text-decoration: none;
}

.cartIcon {
  cursor: pointer;
  padding: 1em;
}

.active {
  background-color: var(--thirdary);
}

.cartContainer {
  background-color: var(--thirdary);
  padding: 2em;

  display: flex;
  flex-direction: column;
}

hr {
  margin-left: 0;
  margin-right: 0;
  border: 0.25em solid var(--accent);
  border-radius: 0.5em;
}

.cartItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cartItem * {
  width: calc(100% / 3)
}

.totalContainer {
  display: flex;
  justify-content: space-between;
}

.itemContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.itemQuantity {
  display: flex;
  justify-content: center;
}

.itemTotal {
  display: flex;
  justify-content: flex-end;
}

.itemDetails {
  /* width: 70vw; */
  flex-grow: 1;
}

.imageSliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sidebar {
  flex-grow: 1;
  background-color: var(--secondary);
  /* width: 30vw; */
  /*
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  */ 

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.sidebar h1,h4 {
  padding: 0 2rem;
}

.quantity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quantityButton {
  height: 2em;
  width: 2em;
  border-radius: 2em;
  font-weight: 900;
}

button {
  font-family: Raleway;
  font-size: 48px;
  color: var(--primary);
  border: none;
  background-color: var(--accent);
}

img {
  width: 50vw;
  height: 50vw;
}

.hidden {
  display: none;
}

/*

Pallete: https://colorhunt.co/palette/f4f9f4a7d7c574b49b5c8d89

*/
